Flask==2.2.2
numpy==1.15.4
Flask_Babel==1.0.0
matplotlib==3.0.2
networkx==2.2
ply==3.11
beautifulsoup4==4.7.1
lxml==4.3.1
html5lib==1.0.1
scipy==1.1.0
python-louvain
Werkzeug==2.2.2
DyNetX==0.3.1
ffmpeg-python==0.2.0
IPython==7.16.3